* {
    padding: 100;
    margin: 0;
    font-family: sans-serif;
}
body {
    background-color: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 20px;
}
.main {
    background-color: #eee;
    width: 700px;
    padding: 20px;
}
.article {
    border: 4px inset rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 20px;
    background: #eee;
}
ul {
    list-style: disc;
    padding: 10 px;
}
.articleImg {
    width: 95%;
    padding: 10px;
}
.dark {
    background-color: #111;
    color: #eee;
}

